@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'LuloCleanOne';
  src: url("../fonts/LuloCleanOne.ttf") format("truetype"); }

@font-face {
  font-family: "Avenir-Heavy";
  src: url("../fonts/Avenir-Heavy.ttf"); }

@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Avenir-Light.ttf"); }

* {
  margin: 0px;
  padding: 0px;
  max-width: 100vw; }

.TituloLogo {
  margin: 30px;
  font-family: "Open Sans"; }

.navbar {
  font-family: "Open Sans"; }

#whatsapp .wtsapp {
  position: fixed;
  background-color: #25d366;
  display: block;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  border-right: none;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  bottom: 70px;
  right: 50px;
  border: 0;
  z-index: 9999;
  width: 65px;
  height: 65px;
  line-height: 65px;
  transition: transform 0.3s ease; }
  #whatsapp .wtsapp:hover {
    transform: scale(1.2); }

main section .hero {
  background: url(../img/background1.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat; }
  main section .hero .titulo {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    animation: fadeInRight 2s; }
    main section .hero .titulo::after {
      content: "";
      display: block;
      width: 250px;
      height: 2px;
      background-color: white;
      margin: 25px auto;
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      right: 0; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(-25%, -50%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }
  main section .hero .subtitulo {
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  main section .hero .SolicitarCotizacion {
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "LuloCleanOne";
    font-weight: 900;
    font-size: 13px;
    height: 50px;
    width: 265px;
    background: indianred;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 155px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    main section .hero .SolicitarCotizacion:hover {
      transition: all 0.8s ease;
      transform: translate(-50%, -50%) scale(1.1); }

.servicios-section {
  height: 100vh;
  background-image: url(../img/servicios2.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }
  .servicios-section .servicios-titulo {
    padding-top: 100px;
    color: #2A2A2A;
    font-family: "Avenir-Heavy";
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center; }
  .servicios-section .servicios-separador {
    text-align: center;
    margin-bottom: 40px; }
    .servicios-section .servicios-separador .servicios-separador_div {
      height: 4px;
      width: 30px;
      background-color: #2A2A2A;
      margin: 0 auto; }
  .servicios-section .servicios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px; }
    .servicios-section .servicios-container .servicios-box {
      width: 250px;
      height: 250px;
      background-color: #f2f2f2e8;
      border-radius: 5px;
      margin: 8px;
      padding: 20px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
      .servicios-section .servicios-container .servicios-box img {
        margin: 0 auto;
        width: 100px;
        height: 100px; }
      .servicios-section .servicios-container .servicios-box .servicios-box-titulos p {
        font-size: 15px; }
      .servicios-section .servicios-container .servicios-box h2 {
        font-size: 16px;
        margin-bottom: 12px;
        margin-top: 10px;
        text-transform: uppercase; }
      .servicios-section .servicios-container .servicios-box p {
        font-size: 15px; }

#discografia-section {
  background: url(../img/discografia-background.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed; }
  #discografia-section .discografia-titulo {
    padding-top: 100px;
    color: #f3f3f3;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center; }
  #discografia-section .servicios-separador {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
    #discografia-section .servicios-separador .servicios-separador_div {
      height: 4px;
      width: 2%;
      background-color: #f3f3f3;
      margin: auto; }
  #discografia-section iframe {
    margin: auto;
    display: block;
    margin-bottom: 20px; }

.gallery {
  background-color: #dbddf1;
  padding-bottom: 50px; }
  .gallery .galeria-titulo {
    padding-top: 100px;
    color: #2A2A2A;
    font-family: "Avenir-Heavy";
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center; }
  .gallery .servicios-separador {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
    .gallery .servicios-separador .servicios-separador_div {
      height: 4px;
      width: 30px;
      background-color: #2A2A2A;
      margin: auto; }
  .gallery .container-lg .row .col img {
    max-width: 100%;
    background-color: #ffffff;
    width: 100%;
    cursor: pointer;
    transition: 0.3s; }
    .gallery .container-lg .row .col img:hover {
      transform: scale(1.1); }

#contacto-section .contact-form {
  font-family: "Open Sans";
  width: 90%;
  max-width: 600px;
  background: #fcfcfccb;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px #00000063;
  margin: 20px auto; }
  #contacto-section .contact-form h1 {
    margin-top: 0;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    text-align: center; }
  #contacto-section .contact-form .txtb {
    border: 1px solid gray;
    margin: 6px 0;
    padding: 12px 18px;
    border-radius: 8px; }
  #contacto-section .contact-form label {
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px; }
  #contacto-section .contact-form input,
  #contacto-section .contact-form textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    margin-top: 6px; }
  #contacto-section .contact-form .btn {
    display: inline-block;
    background: indianred;
    padding: 12px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
    width: 100%; }

#contacto-section {
  background: url(../img/contacto-background.jpg);
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #contacto-section .contacto-titulo {
    padding: 100px 0 20px;
    color: #2A2A2A;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 600;
    text-align: center; }
  #contacto-section .servicios-separador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; }
    #contacto-section .servicios-separador .servicios-separador_div {
      height: 4px;
      width: 30px;
      background-color: #2A2A2A;
      margin: auto; }

.footer {
  background-color: #24262b;
  padding: 70px 0px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif; }
  .footer .contenedor {
    max-width: 1170px;
    margin: auto; }
    .footer .contenedor .row {
      display: flex;
      flex-wrap: wrap; }
      .footer .contenedor .row .footer-col {
        width: 25%;
        padding: 0 15px; }
        .footer .contenedor .row .footer-col h4 {
          font-size: 18px;
          color: #ffffff;
          margin-bottom: 35px;
          font-weight: 500;
          position: relative;
          text-decoration: none; }
          .footer .contenedor .row .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px; }
        .footer .contenedor .row .footer-col .footer-ul {
          list-style: none;
          text-decoration: none; }
          .footer .contenedor .row .footer-col .footer-ul li:not(:last-child) {
            margin-bottom: 10px; }
          .footer .contenedor .row .footer-col .footer-ul li a {
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
            padding: 0 0 -16px;
            margin: 0 0 0 -32px; }
            .footer .contenedor .row .footer-col .footer-ul li a:hover {
              color: #ffffff;
              padding-left: 10px;
              background-color: rgba(255, 255, 255, 0.1); }
        .footer .contenedor .row .footer-col .socials a {
          display: inline-block;
          height: 40px;
          width: 40px;
          background-color: rgba(255, 255, 255, 0.2);
          margin: 0 10px 10x 0;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          color: #ffffff;
          transition: all 0.7s ease; }
          .footer .contenedor .row .footer-col .socials a:hover {
            color: #24262b;
            background-color: #ffffff; }

@media (max-width: 1250px) {
  .container {
    width: 100%; } }

@media (max-width: 767px) {
  main section .hero .titulo {
    font-size: 3.2rem; }
    main section .hero .titulo::after {
      width: 100px;
      margin: 25px auto; }
  main section .hero .subtitulo {
    font-size: 1.6rem;
    white-space: nowrap;
    padding-top: 95px; }
  main section .hero .SolicitarCotizacion {
    font-size: 10px;
    width: 200px;
    height: 40px;
    margin-top: 165px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  main section .hero .titulo {
    font-size: 4rem;
    white-space: nowrap; }
  main section .hero .subtitulo {
    font-size: 2rem;
    margin-top: 30px; }
  main section .hero .SolicitarCotizacion {
    font-size: 11px;
    width: 230px;
    height: 45px;
    margin-top: 125px; } }

@media (min-width: 1024px) and (max-width: 1500px) {
  main section .hero .titulo {
    font-size: 4.5rem;
    white-space: nowrap; }
  main section .hero .subtitulo {
    font-size: 2.25rem; }
  main section .hero .SolicitarCotizacion {
    font-size: 12px;
    width: 250px;
    height: 50px;
    margin-top: 140px; } }

@media (min-width: 1501px) {
  main section .hero .titulo {
    font-size: 5rem; }
  main section .hero .subtitulo {
    font-size: 2.5rem; }
  main section .hero .SolicitarCotizacion {
    font-size: 13px;
    width: 265px;
    height: 50px;
    margin-top: 155px; } }

@media (max-width: 767px) {
  #whatsapp .wtsapp {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    bottom: 50px;
    right: 30px; } }

@media (max-width: 767px) {
  .servicios-section {
    height: 100%; }
    .servicios-section .servicios-container {
      flex-direction: column;
      align-items: center;
      padding-bottom: 16px; }
      .servicios-section .servicios-container .servicios-box {
        width: 250px;
        height: 250px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .servicios-section {
    height: 100%; }
    .servicios-section .servicios-container {
      justify-content: center;
      width: 400px;
      padding-bottom: 16px; } }

@media (min-width: 1024px) and (max-width: 1500px) {
  .servicios-section {
    height: 100%; }
    .servicios-section .servicios-container {
      justify-content: center;
      width: 700px;
      padding-bottom: 16px; } }

@media (min-width: 1501px) {
  .servicios-section {
    height: 100vh; }
    .servicios-section .servicios-container {
      justify-content: center;
      width: 40%; }
      .servicios-section .servicios-container .servicios-box {
        width: 40%; } }

@media (min-width: 1501px) and (max-width: 1863px) {
  .servicios-section {
    height: 100%; }
    .servicios-section .servicios-container {
      justify-content: center;
      width: 40%;
      padding-bottom: 16px; }
      .servicios-section .servicios-container .servicios-box {
        width: 250px; } }

@media (min-width: 1864px) {
  .servicios-section {
    height: 100vh; }
    .servicios-section .servicios-container {
      justify-content: center;
      width: 40%; }
      .servicios-section .servicios-container .servicios-box {
        width: 250px; } }

@media (min-width: 350px) and (max-width: 1500px) {
  #discografia-section {
    height: 160vh; }
    #discografia-section iframe {
      width: 90%; } }

@media (max-width: 768px) {
  .footer-col {
    width: 50%; } }

@media (max-width: 480px) {
  .socials {
    width: 100px; }
  .footer-col {
    width: 100%; } }
