%contact-form-estilos {
    font-family: "Open Sans";
    width: 90%;
    max-width: 600px;
    background: #fcfcfccb;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px #00000063;
    margin: 20px auto;

    h1 {
        margin-top: 0;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }

    .txtb {
        border: 1px solid gray;
        margin: 6px 0;
        padding: 12px 18px;
        border-radius: 8px;
    }

    label {
        display: block;
        text-align: left;
        color: #333;
        text-transform: uppercase;
        font-size: 14px;
    }

    input,
    textarea {
        width: 100%;
        border: none;
        background: none;
        outline: none;
        font-size: 14px;
        margin-top: 6px;
    }

    .btn {
        display: inline-block;
        background: nth($paleta-colores, 1);
        padding: 12px 0;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 5px;
        width: 100%;
    }
}

#contacto-section {
    background: url(../img/contacto-background.jpg);
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    .contacto-titulo {
        padding: 100px 0 20px;
        color: $titulos-color;
        font-family: "Open Sans";
        font-size: 40px;
        font-weight: 600;
        text-align: center;
    }

    .servicios-separador {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        .servicios-separador_div {
            height: 4px;
            width: 30px;
            background-color: $titulos-color;
            margin: auto;
        }
    }

    .contact-form {
        @extend %contact-form-estilos;
    }
}
