.gallery {
    background-color: #dbddf1;
    padding-bottom: 50px;

    .galeria-titulo {
        padding-top: 100px;
        color: #2a2a2a;
        font-family: "Avenir-Heavy";
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 20px;
        text-align: center;
    }

    .servicios-separador {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        .servicios-separador_div {
            height: 4px;
            width: 2%;
            background-color: #2A2A2A;
            margin: auto;
        }
    }

    .container-lg {
        .row {
            .col {
                img {
                    max-width: 100%;
                    background-color: #ffffff;
                    width: 100%;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}