main{

    section{

        .hero{
            background: url(../img/background1.jpg) no-repeat;
            background-size:cover;
            height:100vh;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;

            .titulo{
                position: absolute;
                top: 40%;
                left: 50%;
                text-align: center;
                transform: translate(-50%, -50%);
                font-size: 5rem;
                font-weight: 600;
                text-transform: uppercase;
                color: white;
                animation:fadeInRight 2s;
                &::after{
                    content: "";
                    display: block;
                    width: 250px;
                    height: 2px;
                    background-color: white;
                    margin: 10px auto;
                    position: absolute;
                    top: calc(100% + 8px);
                    left: 0;
                    right: 0;
                    }
                }
            }
            @keyframes fadeInRight{
                0%{
                    opacity: 0;
                    transform: translate(-25%, -50%);
                }
                100%{
                    opacity: 1;
                    transform: translate(-50%, -50%);
                }
        }


            .subtitulo{
                position: absolute;
                top: 55%;
                left: 50%;
                text-align: center;
                transform: translate(-50%, -50%);
                font-weight: 400;
                font-size: 2.5rem;
                text-transform: uppercase;
                color: white;
                opacity:0;
                animation:fadeIn 3s;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
            }
                @keyframes fadeIn{
                    from {opacity: 0; }
                    to {opacity: 1; }
            }


            .SolicitarCotizacion{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: "LuloCleanOne";
                font-weight: 900;
                font-size: 13px;
                height: 50px;
                width: 265px;
                background: indianred;
                color: white;
                border: none;
                outline: none;
                cursor: pointer;
                border-radius: 16px;
                margin-top: 155px;
                opacity:0;
                animation: fadeIn 4s;
                animation-delay:1s;
                animation-fill-mode: forwards;
                @keyframes fadeIn{
                    from {opacity: 0; }
                    to {opacity: 1; }
                }
                &:hover{
                    transition: all 0.8s ease;
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
        }
}