// SERVICIOS RESPONSIVE

@media (max-width: 767px) {

    .servicios-section {
        height: 100%;

        .servicios-container {
            flex-direction: column;
            align-items: center;
            padding-bottom: 16px;

            .servicios-box {
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .servicios-section {
        height: 100%;

        .servicios-container {
            justify-content: center;
            width: 400px;
            padding-bottom: 16px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {

    .servicios-section {
        height: 100%;

        .servicios-container {
            justify-content: center;
            width: 700px;
            padding-bottom: 16px;
        }
    }
}

@media (min-width: 1501px) {

    .servicios-section {
        height: 100vh;

        .servicios-container {
            justify-content: center;
            width: 40%;

            .servicios-box {
                width: 40%;
            }
        }
    }
}

    @media (min-width: 1501px) and (max-width: 1863px){

        .servicios-section {
            height: 100%;
    
            .servicios-container {
                justify-content: center;
                width: 40%;
                padding-bottom: 16px;
    
                .servicios-box {
                    width: 250px;
                }
            }
        }
    }

@media (min-width: 1864px) {

            .servicios-section {
                height: 100vh;
        
                .servicios-container {
                    justify-content: center;
                    width: 40%;
        
                    .servicios-box {
                        width: 250px;
                    }
                }
            }
}

//DISCOGRAFIA RESPONSIVE

@media (min-width: 350px) and (max-width: 1500px){
    #discografia-section{
        height: 160vh;

        iframe{
            width: 90%;
        }
    }
}

//FOOTER RESPONSIVE

@media(max-width:767px){
    .footer-col{
        width:50%;
        margin-bottom: 30px;
    }

@media(max-width:574px){
        .footer-col{
            width:100%;
            margin-bottom: 30px;
        }
    }
}