//HERO RESPONSIVE

@media (max-width: 767px) {
    main section .hero .titulo {
        font-size: 3.2rem;
        &::after{
            width: 100px;
            margin: 25px auto;
        }
    }

    main section .hero .subtitulo {
        font-size: 1.6rem;
        white-space: nowrap;
        padding-top: 95px;
    }

    main section .hero .SolicitarCotizacion {
        font-size: 10px;
        width: 200px;
        height: 40px;
        margin-top: 165px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    main section .hero .titulo {
        font-size: 4rem;
        white-space: nowrap;
    }

    main section .hero .subtitulo {
        font-size: 2rem;
        margin-top: 30px;
    }

    main section .hero .SolicitarCotizacion {
        font-size: 11px;
        width: 230px;
        height: 45px;
        margin-top: 125px;
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {
    main section .hero .titulo {
        font-size: 4.5rem;
        white-space: nowrap;
    }

    main section .hero .subtitulo {
        font-size: 2.25rem;
    }

    main section .hero .SolicitarCotizacion {
        font-size: 12px;
        width: 250px;
        height: 50px;
        margin-top: 140px;
    }
}

@media (min-width: 1501px) {
    main section .hero .titulo {
        font-size: 5rem;
    }

    main section .hero .subtitulo {
        font-size: 2.5rem;
    }

    main section .hero .SolicitarCotizacion {
        font-size: 13px;
        width: 265px;
        height: 50px;
        margin-top: 155px;
    }
}

//BOTON WHATSAPP RESPONSIVE

@media (max-width: 767px) {
    #whatsapp .wtsapp {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        bottom: 50px;
        right: 30px;
    }
}

// SERVICIOS RESPONSIVE

@media (max-width: 767px) {

    .servicios-section {
        height: 100%;

        .servicios-container {
            flex-direction: column;
            align-items: center;
            padding-bottom: 16px;

            .servicios-box {
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .servicios-section {
        height: 100%;

        .servicios-container {
            justify-content: center;
            width: 400px;
            padding-bottom: 16px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {

    .servicios-section {
        height: 100%;

        .servicios-container {
            justify-content: center;
            width: 700px;
            padding-bottom: 16px;
        }
    }
}

@media (min-width: 1501px) {

    .servicios-section {
        height: 100vh;

        .servicios-container {
            justify-content: center;
            width: 40%;

            .servicios-box {
                width: 40%;
            }
        }
    }
}

    @media (min-width: 1501px) and (max-width: 1863px){

        .servicios-section {
            height: 100%;
    
            .servicios-container {
                justify-content: center;
                width: 40%;
                padding-bottom: 16px;
    
                .servicios-box {
                    width: 250px;
                }
            }
        }
    }

@media (min-width: 1864px) {

            .servicios-section {
                height: 100vh;
        
                .servicios-container {
                    justify-content: center;
                    width: 40%;
        
                    .servicios-box {
                        width: 250px;
                    }
                }
            }
}

//DISCOGRAFIA RESPONSIVE

@media (min-width: 350px) and (max-width: 1500px){
    #discografia-section{
        height: 160vh;

        iframe{
            width: 90%;
        }
    }
}

//FOOTER RESPONSIVE

@media(max-width:767px){
    .footer-col{
        width:50%;
        margin-bottom: 30px;
    }
}

@media(max-width:574px){
    .footer-col{
        width:100%;
        margin-bottom: 30px;
    }
}
